.version.index /* version checker */
{
	color: #0000E4;
	background-color: #A6A31F;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 4402px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 716px;
	width: 0.01px;
}

#slideshowu158
{
	z-index: 5;
	width: 0.01px;
	height: 900px;
	left: -100px;
	position: relative;
}

#u159
{
	position: absolute;
	width: 1370px;
	height: 900px;
	background-color: transparent;
}

#u159popup
{
	z-index: 6;
}

#u9526
{
	z-index: 7;
	width: 1370px;
	height: 900px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9542
{
	z-index: 9;
	width: 1370px;
	height: 900px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u166
{
	position: absolute;
	width: 970px;
	background-color: transparent;
	top: 357px;
	left: 200px;
}

#u166popup
{
	z-index: 11;
}

#u9532-12
{
	z-index: 12;
	width: 950px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9539-5
{
	z-index: 18;
	width: 770px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u9534-4
{
	z-index: 26;
	width: 770px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u9535
{
	margin-top: 20px;
	margin-bottom: -20px;
}

#buttonu9536
{
	z-index: 35;
	width: 122px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 7px;
}

#buttonu9536:hover
{
	background-color: #FFFFFF;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u9537-4
{
	z-index: 36;
	width: 124px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -2px;
}

#buttonu9536:hover #u9537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 124px;
	margin: 12px -10000px 0px 0px;
}

#buttonu9536:hover #u9537-4 p,#buttonu9536:hover #u9537-4 span
{
	color: #585858;
	visibility: inherit;
}

#u9548-11
{
	z-index: 41;
	width: 950px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9553-5
{
	z-index: 47;
	width: 770px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u9533,#u9554
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u9555-4
{
	z-index: 54;
	width: 770px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u9532,#u9532-7,#u9548,#u9548-6
{
	font-size: 1px;
	line-height: 0px;
}

#u9549
{
	margin-top: 20px;
	margin-bottom: -20px;
}

#u9535.ButtonSelected,#u9549.ButtonSelected
{
	min-height: 0px;
	margin: 20px 0px -20px;
}

#buttonu9550
{
	z-index: 63;
	width: 122px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 7px;
}

#buttonu9550:hover
{
	background-color: #FFFFFF;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#buttonu9536.ButtonSelected,#buttonu9550.ButtonSelected
{
	background-color: transparent;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u9551-4
{
	z-index: 64;
	width: 124px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -2px;
}

#buttonu9536.ButtonSelected #u9537-4,#buttonu9550:hover #u9551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 124px;
	margin: 12px -10000px 0px 0px;
}

#buttonu9550.ButtonSelected #u9551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 124px;
	margin: 12px -10000px 0px 0px;
}

#buttonu9550:hover #u9551-4 p,#buttonu9550:hover #u9551-4 span
{
	color: #585858;
	visibility: inherit;
}

#buttonu9536.ButtonSelected #u9537-4 p,#buttonu9536.ButtonSelected #u9537-4 span,#buttonu9550.ButtonSelected #u9551-4 p,#buttonu9550.ButtonSelected #u9551-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u186-4
{
	position: absolute;
	width: 19px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 421px;
	left: 100px;
}

#u186-4:hover
{
	background-color: #20CA9C;
	background-color: rgba(32,202,156,1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 19px;
	margin: 0px;
	-pie-background: rgba(32,202,156,1);
}

#u186-4popup
{
	z-index: 69;
}

#u185-4
{
	position: absolute;
	width: 19px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 420px;
	left: 1230px;
}

#u185-4:hover
{
	background-color: #20CA9C;
	background-color: rgba(32,202,156,1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 19px;
	margin: 0px;
	-pie-background: rgba(32,202,156,1);
}

#u185-4popup
{
	z-index: 73;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#phome
{
	width: 0.01px;
	margin-left: -500px;
	margin-top: -900px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u9876-5
{
	z-index: 273;
	width: 216px;
	min-height: 16px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 571px;
}

#menuu82
{
	z-index: 77;
	width: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1270px;
}

#u86
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u88-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

#u100
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u86.MuseMenuActive,#u100:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u101-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

#u86.MuseMenuActive #u88-4,#u100:hover #u101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u136-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u356
{
	z-index: 278;
	height: 79px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u356-bw
{
	z-index: 278;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 80px;
}

#u305
{
	z-index: 284;
	width: 80px;
	height: 80px;
	position: fixed;
	top: 80px;
	left: 0px;
	background: transparent url("../images/logo-white.png") no-repeat center center;
}

#menuu306
{
	z-index: 285;
	width: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 80px;
	left: 770px;
}

#u83,#u335
{
	width: 132px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u336
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u337-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

#u100.MuseMenuActive #u101-4,#u135.MuseMenuActive #u136-4,#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u336:hover #u337-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u99,#u342
{
	width: 132px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u343
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u100.MuseMenuActive,#u135.MuseMenuActive,#u336.MuseMenuActive,#u343:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u346-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

#u336.MuseMenuActive #u337-4,#u343:hover #u346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u336.MuseMenuActive #u337-4 p,#u343:hover #u346-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u134,#u314
{
	width: 132px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u315
{
	width: 132px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u343.MuseMenuActive,#u315.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u318-4
{
	width: 132px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 33px;
}

#u343.MuseMenuActive #u346-4,#u315:hover #u318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u315.MuseMenuActive #u318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u343.MuseMenuActive #u346-4 p,#u315:hover #u318-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u315.MuseMenuActive #u318-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u9875-5
{
	z-index: 279;
	width: 216px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 112px;
	left: 70px;
}

#u9875
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u9875-2
{
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

.js #u356.ose_pre_init,.js #u305.ose_pre_init,.js #menuu306.ose_pre_init,.js #u9875-5.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#about
{
	left: -500px;
	top: -79px;
	margin-bottom: -18px;
	position: relative;
}

#u366-5
{
	z-index: 96;
	width: 770px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 200px;
	margin-top: 96px;
	position: relative;
}

#u366-2
{
	color: #EDEDED;
}

#u368-4
{
	z-index: 101;
	width: 770px;
	min-height: 55px;
	background-color: transparent;
	color: #EDEDED;
	text-align: center;
	font-size: 18px;
	line-height: 29px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 200px;
	margin-top: 29px;
	position: relative;
}

#u397
{
	z-index: 4;
	min-height: 215px;
	background: transparent url("../images/notebook_%402x.jpg") repeat center center;
}

#u397_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 29px;
	padding-bottom: 59px;
}

#u9831
{
	z-index: 272;
	width: 167px;
	height: 78px;
	left: 600px;
	position: relative;
	background: transparent url("../images/christmas-present11.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u9831
{
	background-image: url('../images/christmas-present11_poster_u9832.png');
}

#u410-4
{
	z-index: 105;
	width: 1170px;
	min-height: 25px;
	background-color: transparent;
	color: #181818;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	left: 100px;
	margin-top: 24px;
	position: relative;
}

#u397-bw
{
	z-index: 4;
	min-height: 215px;
	margin-top: 96px;
}

#pu9702-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 49px;
}

#u9702-4
{
	z-index: 160;
	width: 500px;
	min-height: 55px;
	background-color: transparent;
	color: #EDEDED;
	text-align: left;
	font-size: 18px;
	line-height: 29px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u9701-4
{
	z-index: 156;
	width: 470px;
	min-height: 55px;
	background-color: transparent;
	color: #EDEDED;
	text-align: left;
	font-size: 18px;
	line-height: 29px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#pu9705
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 50px;
}

#u9705
{
	z-index: 164;
	width: 1370px;
	background-color: #101010;
	padding-bottom: 52px;
	position: relative;
	margin-right: -10000px;
}

#u9706
{
	z-index: 165;
	width: 490px;
	height: 587px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 172px;
	background: transparent url("../images/foot.jpg") no-repeat center center;
}

#pu9717-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 767px;
}

#u9717-4
{
	z-index: 239;
	width: 400px;
	min-height: 36px;
	background-color: transparent;
	color: #EDEDED;
	text-align: left;
	font-size: 21px;
	line-height: 34px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9707-4
{
	z-index: 166;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9713-4
{
	z-index: 198;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 50px;
}

#u9728-4
{
	z-index: 170;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9718-4
{
	z-index: 206;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u9729-4
{
	z-index: 174;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9719-4
{
	z-index: 214;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 50px;
}

#u9730-4
{
	z-index: 178;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9720-4
{
	z-index: 222;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 50px;
}

#u9731-4
{
	z-index: 182;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9721-4
{
	z-index: 234;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 50px;
}

#u9732-4
{
	z-index: 186;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9726-4
{
	z-index: 202;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 50px;
}

#pu9729-4,#pu9733-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 9px;
}

#u9733-4
{
	z-index: 190;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9725-4
{
	z-index: 210;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 50px;
}

#pu9707-4,#pu9728-4,#pu9730-4,#pu9731-4,#pu9732-4,#pu9734-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 10px;
}

#u9734-4
{
	z-index: 194;
	width: 35px;
	min-height: 36px;
	background-color: transparent;
	color: #20CA9C;
	line-height: 34px;
	font-size: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u9724-4
{
	z-index: 218;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 50px;
}

#u9723-4
{
	z-index: 226;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #EEEEEE;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 55px;
	margin-top: 10px;
	position: relative;
}

#u9727-4
{
	z-index: 230;
	width: 270px;
	min-height: 20px;
	background-color: transparent;
	color: #B2B2B2;
	text-align: left;
	font-size: 12px;
	line-height: 23px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 55px;
	margin-top: 15px;
	position: relative;
}

#about2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 609px;
	left: 659px;
}

#u9811
{
	z-index: 265;
	width: 1370px;
	padding-bottom: 99px;
	left: -100px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../images/8012447_orig.jpg") repeat center center;
}

#u9812-6
{
	z-index: 266;
	width: 1170px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 162px;
}

#pu9737
{
	width: 0.01px;
	margin-left: -100px;
}

#u9737
{
	z-index: 243;
	width: 1370px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/notebook_%402x.jpg") repeat center center;
}

#u9740
{
	z-index: 252;
	width: 245px;
	height: 175px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 157px;
	background: transparent url("../images/nyr_logo.png") no-repeat center center;
	background-size: contain;
}

#pu9738-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 425px;
}

#u9738-4
{
	z-index: 244;
	width: 530px;
	min-height: 25px;
	background-color: transparent;
	color: #181818;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
}

#u9739-4
{
	z-index: 248;
	width: 760px;
	min-height: 25px;
	background-color: transparent;
	color: #181818;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#pu9747
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 73px;
}

#u9747
{
	z-index: 253;
	width: 87px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fsc.png") no-repeat center bottom;
	background-size: contain;
}

#u9748
{
	z-index: 254;
	width: 87px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
	background: transparent url("../images/derma-tested.png") no-repeat center center;
	background-size: contain;
}

#u9749
{
	z-index: 255;
	width: 87px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
	background: transparent url("../images/carbon-neutral.png") no-repeat center center;
	background-size: contain;
}

#u9750
{
	z-index: 256;
	width: 87px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: transparent url("../images/soil-ass.png") no-repeat center center;
	background-size: contain;
}

#u9778-4
{
	z-index: 261;
	width: 370px;
	min-height: 25px;
	background-color: transparent;
	color: #181818;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 75px;
	margin-top: 46px;
	position: relative;
}

#u9775-4
{
	z-index: 257;
	width: 475px;
	min-height: 58px;
	background-color: transparent;
	color: #181818;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 425px;
}

#contact
{
	left: -500px;
	position: relative;
}

#u1044-4
{
	z-index: 109;
	width: 370px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 26px;
	line-height: 31px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 400px;
	margin-top: 62px;
	position: relative;
}

#u9539,#u9553,#u1044
{
	font-family: raleway, sans-serif;
	font-weight: 600;
}

#u1045-4
{
	z-index: 113;
	width: 770px;
	min-height: 59px;
	background-color: transparent;
	color: #EDEDED;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 200px;
	margin-top: 35px;
	position: relative;
}

#u1052
{
	z-index: 3;
	min-height: 182px;
	background-color: #101010;
	padding-bottom: 42px;
}

#u1052_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#pu1053-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 200px;
}

#u1053-4
{
	z-index: 117;
	width: 170px;
	min-height: 37px;
	border-style: solid;
	border-color: #292929;
	background-color: transparent;
	color: #B2B2B2;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1054-4
{
	z-index: 129;
	width: 170px;
	min-height: 27px;
	background-color: transparent;
	color: #B2B2B2;
	text-align: center;
	font-size: 13px;
	line-height: 26px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#pu1059-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 600px;
}

#u1059-4
{
	z-index: 125;
	width: 170px;
	min-height: 37px;
	border-style: solid;
	border-color: #292929;
	background-color: transparent;
	color: #B2B2B2;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1058-5
{
	z-index: 143;
	width: 170px;
	min-height: 27px;
	background-color: transparent;
	color: #20CA9C;
	text-align: center;
	font-size: 13px;
	line-height: 26px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1058
{
	color: #20CA9C;
}

#pu1063-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 1000px;
}

#u1063-4
{
	z-index: 121;
	width: 170px;
	min-height: 37px;
	border-style: solid;
	border-color: #292929;
	background-color: transparent;
	color: #B2B2B2;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1062-10
{
	z-index: 133;
	width: 170px;
	min-height: 27px;
	background-color: transparent;
	color: #B2B2B2;
	text-align: center;
	font-size: 13px;
	line-height: 26px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1052-bw
{
	z-index: 3;
	min-height: 182px;
	margin-top: 81px;
}

#u1088
{
	z-index: 2;
	width: 1370px;
	background-color: transparent;
	padding-bottom: 114px;
	left: -100px;
	position: relative;
}

#u1089-5
{
	z-index: 148;
	width: 400px;
	min-height: 31px;
	background-color: transparent;
	color: #EDEDED;
	text-align: left;
	font-size: 13px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 100px;
}

#u9876-2,#u1089-2
{
	font-family: raleway, sans-serif;
	font-weight: 400;
}

body
{
	position: relative;
	min-width: 1170px;
}

